*.xcworkspacedata
*.xcbkptlist
*.xcuserstate

xcuserdata

Gemfile
Gemfile.lock
.DS_Store

fastlane/report.xml

fastlane/README.md
fastlane/report.xml
fastlane/Appfile
fastlane/test_output/report.html
fastlane/test_output/report.junit
fastlane/Deliverfile
fastlane/Pluginfile
*/code-coverage/report.html

docs/*
build/*
Manifest.lock

Pods/

DerivedData

GetirClient/Build

.build

upload_dsym_results

.swiftpm/xcode/xcshareddata/xcschemes

# Ignore node.js modules
Firebase/functions/node_modules
Firebase/firebase-debug.log
Firebase/firestore-debug.log
Firebase/ui-debug.log